@charset "utf-8";
@import "media-queries";
@import "my_reset";


*{
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}


img,a{
  -webkit-tap-highlight-color:transparent;
}



%pos_center{
  left: 50%;
  transform: translate(-50%,0);
  //transform: translateX(-50%);
}

%xy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

%mc{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 100%;
  overflow: visible;
}

.clear{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}


body{
  background-color: #f0f0f0;
}



.cover-img{
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}


@import "mSlider-mode";
